.logo{
  
  width: 9rem;
  margin-left: 3.5rem;
  margin-top: .3rem;
}
#netflix-logo {
  fill: #e50914f6;
  line-height: normal;
  width: 8rem;
  height: 8rem;
  position: absolute;
  z-index: 1001;
}


.main{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 10%; */
}

.title h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:white;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;

}
.cards{
  display: flex;


}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: grey;
  font-size: 2rem;


}



.card img:hover{
  border: 3px solid white;
}
.card:hover{
  color: white;
}

.card img{
  width: 19.2rem;
  margin: 2rem;
  border-radius: .5rem;
}


.manager{
  margin-top: 10rem;
}

.manager a{
  color:grey;

  border: 1px solid grey;
  padding: 1.12rem 3.45rem ;
  font-size: 2.4rem;
}

.manager a:hover{
  color:white;
  border-color: white;
}